In [1]:
import zipline

Imports:-->

1. order_target: Used to place orders for buying and selling shares.
2. record: Used to store data for later analysis.
3. symbol: Used to create a symbol object for the asset we want to trade.

initialize function:-->


Here are some key things to know about the 'context' object:

Functionality:

1. It allows you to store and access data across different calls to the handle_data function.
2. It provides access to information about the current market data, such as the prices of assets and other relevant indicators.
3. It allows you to define and manage your trading strategy by storing variables like trading positions, order history, and performance metrics.

Scope:

1. The "context" object is specific to each trading simulation.
2. It exists within the handle_data function and is accessible throughout its execution.
3. Multiple algorithms can share the same context object, allowing them to communicate and collaborate if needed.

Initializes two variables:
1. context.i: Starts at 0 and is used to track the number of days the program has been running.This is to ensure we have enough data before starting trading.This allows the strategy to skip the initial period where data might be incomplete.
2. context.asset: Creates a symbol object for the asset we want to trade, which is AAPL in this case.This allows the strategy to easily access and trade the chosen asset.

handle_data function:-->

This function is called every day with the current market data.
It first checks if context.i is less than 300. 


Moving averages functionalities:-->


1. data.history is a function provided by Zipline to access historical data.
2. 'price' specifies the data field to be accessed (closing price in this case).
3. frequency="1d" specifies the frequency of the data (daily in this case).

In [2]:
from zipline.api import order_target, record, symbol

# Initialization function, called once at the beginning of the backtest
def initialize(context):
    context.i = 0
    context.asset = symbol('AAPL')

# Handle data function, called for each trading day
def handle_data(context, data):
    # Increment the day counter
    context.i += 1

    # Skip the first 300 days to allow for full windows of data
    if context.i < 300:
        return

    # Compute short and long moving averages
    short_mavg = data.history(context.asset, 'price', bar_count=100, frequency="1d").mean()
    long_mavg = data.history(context.asset, 'price', bar_count=300, frequency="1d").mean()

    # Trading logic
    if short_mavg > long_mavg:
        # Buy 100 shares if the short-term moving average is above the long-term moving average
        order_target(context.asset, 100)
    elif short_mavg < long_mavg:
        # Sell all shares if the short-term moving average is below the long-term moving average
        order_target(context.asset, 0)

    # Record values for later analysis and plotting
    record(AAPL=data.current(context.asset, 'price'),
           short_mavg=short_mavg,
           long_mavg=long_mavg)

In [3]:
import pandas as pd
from zipline.data import bundles

In [4]:
b = pd.read_csv('./custom_data/BTC_custom_data.csv')
b

          Date     Price      Open      High       Low   Vol. Change %
0   12/04/2023  41,157.0  39,940.0  41,211.0  39,940.0  2.11K    3.05%
1   12/03/2023  39,940.0  39,438.0  40,159.0  39,253.0  1.41K    1.27%
2   12/02/2023  39,438.0  38,676.0  39,678.0  38,634.0  2.86K    1.97%
3   12/01/2023  38,676.0  37,723.0  38,936.0  37,626.0  2.69K    2.53%
4   11/30/2023  37,723.0  37,834.0  38,136.0  37,490.0  0.73K   -0.29%
5   11/29/2023  37,834.0  37,815.0  38,366.0  37,599.0  1.19K    0.05%
6   11/28/2023  37,815.0  37,263.0  38,349.0  36,895.0  1.79K    1.48%
7   11/27/2023  37,263.0  37,443.0  37,547.0  36,735.0  1.74K   -0.48%
8   11/26/2023  37,443.0  37,782.0  37,798.0  37,120.0  1.84K   -0.90%
9   11/25/2023  37,782.0  37,704.0  37,891.0  37,583.0  1.13K    0.21%
10  11/24/2023  37,704.0  37,280.0  38,410.0  37,248.0  3.64K    1.14%
11  11/23/2023  37,280.0  37,407.0  37,645.0  36,898.0  1.30K   -0.34%
12  11/22/2023  37,407.0  35,794.0  37,870.0  35,663.0  2.09K    4.51%
13  11/21/2023  35,794.0  37,451.0  37,638.0  35,791.0  2.68K   -4.42%
14  11/20/2023  37,451.0  37,368.0  37,731.0  36,824.0  1.65K    0.22%
15  11/19/2023  37,368.0  36,581.0  37,509.0  36,410.0  0.52K    2.15%
16  11/18/2023  36,581.0  36,631.0  36,849.0  36,234.0  0.34K   -0.14%
17  11/17/2023  36,631.0  36,161.0  36,730.0  35,886.0  0.88K    1.30%
18  11/16/2023  36,161.0  37,865.0  37,927.0  35,535.0  0.96K   -4.50%
19  11/15/2023  37,865.0  35,542.0  37,949.0  35,374.0  1.99K    6.54%
20  11/14/2023  35,542.0  36,511.0  36,756.0  34,860.0  2.05K   -2.65%
21  11/13/2023  36,511.0  37,042.0  37,410.0  36,390.0  1.23K   -1.43%
22  11/12/2023  37,042.0  37,141.0  37,215.0  36,760.0  0.45K   -0.27%
23  11/11/2023  37,141.0  37,301.0  37,405.0  36,720.0  1.22K   -0.43%
24  11/10/2023  37,301.0  36,699.0  37,500.0  36,369.0  0.95K    1.64%
25  11/09/2023  36,699.0  35,641.0  37,973.0  35,562.0  3.97K    2.97%
26  11/08/2023  35,641.0  35,455.0  36,065.0  35,111.0  0.70K    0.52%
27  11/07/2023  35,455.0  35,053.0  35,930.0  34,578.0  0.97K    1.15%
28  11/06/2023  35,053.0  35,064.0  35,323.0  34,798.0  0.37K   -0.03%
29  11/05/2023  35,064.0  35,100.0  35,399.0  34,532.0  0.61K   -0.10%
30  11/04/2023  35,100.0  34,751.0  35,296.0  34,647.0  0.72K    1.00%

In [5]:
b = b.drop('Change %', axis=1)
b

          Date     Price      Open      High       Low   Vol.
0   12/04/2023  41,157.0  39,940.0  41,211.0  39,940.0  2.11K
1   12/03/2023  39,940.0  39,438.0  40,159.0  39,253.0  1.41K
2   12/02/2023  39,438.0  38,676.0  39,678.0  38,634.0  2.86K
3   12/01/2023  38,676.0  37,723.0  38,936.0  37,626.0  2.69K
4   11/30/2023  37,723.0  37,834.0  38,136.0  37,490.0  0.73K
5   11/29/2023  37,834.0  37,815.0  38,366.0  37,599.0  1.19K
6   11/28/2023  37,815.0  37,263.0  38,349.0  36,895.0  1.79K
7   11/27/2023  37,263.0  37,443.0  37,547.0  36,735.0  1.74K
8   11/26/2023  37,443.0  37,782.0  37,798.0  37,120.0  1.84K
9   11/25/2023  37,782.0  37,704.0  37,891.0  37,583.0  1.13K
10  11/24/2023  37,704.0  37,280.0  38,410.0  37,248.0  3.64K
11  11/23/2023  37,280.0  37,407.0  37,645.0  36,898.0  1.30K
12  11/22/2023  37,407.0  35,794.0  37,870.0  35,663.0  2.09K
13  11/21/2023  35,794.0  37,451.0  37,638.0  35,791.0  2.68K
14  11/20/2023  37,451.0  37,368.0  37,731.0  36,824.0  1.65K
15  11/19/2023  37,368.0  36,581.0  37,509.0  36,410.0  0.52K
16  11/18/2023  36,581.0  36,631.0  36,849.0  36,234.0  0.34K
17  11/17/2023  36,631.0  36,161.0  36,730.0  35,886.0  0.88K
18  11/16/2023  36,161.0  37,865.0  37,927.0  35,535.0  0.96K
19  11/15/2023  37,865.0  35,542.0  37,949.0  35,374.0  1.99K
20  11/14/2023  35,542.0  36,511.0  36,756.0  34,860.0  2.05K
21  11/13/2023  36,511.0  37,042.0  37,410.0  36,390.0  1.23K
22  11/12/2023  37,042.0  37,141.0  37,215.0  36,760.0  0.45K
23  11/11/2023  37,141.0  37,301.0  37,405.0  36,720.0  1.22K
24  11/10/2023  37,301.0  36,699.0  37,500.0  36,369.0  0.95K
25  11/09/2023  36,699.0  35,641.0  37,973.0  35,562.0  3.97K
26  11/08/2023  35,641.0  35,455.0  36,065.0  35,111.0  0.70K
27  11/07/2023  35,455.0  35,053.0  35,930.0  34,578.0  0.97K
28  11/06/2023  35,053.0  35,064.0  35,323.0  34,798.0  0.37K
29  11/05/2023  35,064.0  35,100.0  35,399.0  34,532.0  0.61K
30  11/04/2023  35,100.0  34,751.0  35,296.0  34,647.0  0.72K

In [6]:
new_names = {'Date': 'date', 'Price': 'close', 'Open': 'open', 'High': 'high', 'Low': 'low', 'Vol.':'volume'}

b.rename(columns=new_names, inplace=True)
b

          date     close      open      high       low volume
0   12/04/2023  41,157.0  39,940.0  41,211.0  39,940.0  2.11K
1   12/03/2023  39,940.0  39,438.0  40,159.0  39,253.0  1.41K
2   12/02/2023  39,438.0  38,676.0  39,678.0  38,634.0  2.86K
3   12/01/2023  38,676.0  37,723.0  38,936.0  37,626.0  2.69K
4   11/30/2023  37,723.0  37,834.0  38,136.0  37,490.0  0.73K
5   11/29/2023  37,834.0  37,815.0  38,366.0  37,599.0  1.19K
6   11/28/2023  37,815.0  37,263.0  38,349.0  36,895.0  1.79K
7   11/27/2023  37,263.0  37,443.0  37,547.0  36,735.0  1.74K
8   11/26/2023  37,443.0  37,782.0  37,798.0  37,120.0  1.84K
9   11/25/2023  37,782.0  37,704.0  37,891.0  37,583.0  1.13K
10  11/24/2023  37,704.0  37,280.0  38,410.0  37,248.0  3.64K
11  11/23/2023  37,280.0  37,407.0  37,645.0  36,898.0  1.30K
12  11/22/2023  37,407.0  35,794.0  37,870.0  35,663.0  2.09K
13  11/21/2023  35,794.0  37,451.0  37,638.0  35,791.0  2.68K
14  11/20/2023  37,451.0  37,368.0  37,731.0  36,824.0  1.65K
15  11/19/2023  37,368.0  36,581.0  37,509.0  36,410.0  0.52K
16  11/18/2023  36,581.0  36,631.0  36,849.0  36,234.0  0.34K
17  11/17/2023  36,631.0  36,161.0  36,730.0  35,886.0  0.88K
18  11/16/2023  36,161.0  37,865.0  37,927.0  35,535.0  0.96K
19  11/15/2023  37,865.0  35,542.0  37,949.0  35,374.0  1.99K
20  11/14/2023  35,542.0  36,511.0  36,756.0  34,860.0  2.05K
21  11/13/2023  36,511.0  37,042.0  37,410.0  36,390.0  1.23K
22  11/12/2023  37,042.0  37,141.0  37,215.0  36,760.0  0.45K
23  11/11/2023  37,141.0  37,301.0  37,405.0  36,720.0  1.22K
24  11/10/2023  37,301.0  36,699.0  37,500.0  36,369.0  0.95K
25  11/09/2023  36,699.0  35,641.0  37,973.0  35,562.0  3.97K
26  11/08/2023  35,641.0  35,455.0  36,065.0  35,111.0  0.70K
27  11/07/2023  35,455.0  35,053.0  35,930.0  34,578.0  0.97K
28  11/06/2023  35,053.0  35,064.0  35,323.0  34,798.0  0.37K
29  11/05/2023  35,064.0  35,100.0  35,399.0  34,532.0  0.61K
30  11/04/2023  35,100.0  34,751.0  35,296.0  34,647.0  0.72K

In [7]:
b.iloc[:, 1:] = b.iloc[:, 1:].apply(lambda x: x.str.replace(',', ''))
b

          date    close     open     high      low volume
0   12/04/2023  41157.0  39940.0  41211.0  39940.0  2.11K
1   12/03/2023  39940.0  39438.0  40159.0  39253.0  1.41K
2   12/02/2023  39438.0  38676.0  39678.0  38634.0  2.86K
3   12/01/2023  38676.0  37723.0  38936.0  37626.0  2.69K
4   11/30/2023  37723.0  37834.0  38136.0  37490.0  0.73K
5   11/29/2023  37834.0  37815.0  38366.0  37599.0  1.19K
6   11/28/2023  37815.0  37263.0  38349.0  36895.0  1.79K
7   11/27/2023  37263.0  37443.0  37547.0  36735.0  1.74K
8   11/26/2023  37443.0  37782.0  37798.0  37120.0  1.84K
9   11/25/2023  37782.0  37704.0  37891.0  37583.0  1.13K
10  11/24/2023  37704.0  37280.0  38410.0  37248.0  3.64K
11  11/23/2023  37280.0  37407.0  37645.0  36898.0  1.30K
12  11/22/2023  37407.0  35794.0  37870.0  35663.0  2.09K
13  11/21/2023  35794.0  37451.0  37638.0  35791.0  2.68K
14  11/20/2023  37451.0  37368.0  37731.0  36824.0  1.65K
15  11/19/2023  37368.0  36581.0  37509.0  36410.0  0.52K
16  11/18/2023  36581.0  36631.0  36849.0  36234.0  0.34K
17  11/17/2023  36631.0  36161.0  36730.0  35886.0  0.88K
18  11/16/2023  36161.0  37865.0  37927.0  35535.0  0.96K
19  11/15/2023  37865.0  35542.0  37949.0  35374.0  1.99K
20  11/14/2023  35542.0  36511.0  36756.0  34860.0  2.05K
21  11/13/2023  36511.0  37042.0  37410.0  36390.0  1.23K
22  11/12/2023  37042.0  37141.0  37215.0  36760.0  0.45K
23  11/11/2023  37141.0  37301.0  37405.0  36720.0  1.22K
24  11/10/2023  37301.0  36699.0  37500.0  36369.0  0.95K
25  11/09/2023  36699.0  35641.0  37973.0  35562.0  3.97K
26  11/08/2023  35641.0  35455.0  36065.0  35111.0  0.70K
27  11/07/2023  35455.0  35053.0  35930.0  34578.0  0.97K
28  11/06/2023  35053.0  35064.0  35323.0  34798.0  0.37K
29  11/05/2023  35064.0  35100.0  35399.0  34532.0  0.61K
30  11/04/2023  35100.0  34751.0  35296.0  34647.0  0.72K

In [8]:
b['volume'] = b['volume'].apply(lambda x: float(x.replace('K','')) * 1000 if isinstance(x, str) and 'K' in x else float(x))
b

          date    close     open     high      low  volume
0   12/04/2023  41157.0  39940.0  41211.0  39940.0  2110.0
1   12/03/2023  39940.0  39438.0  40159.0  39253.0  1410.0
2   12/02/2023  39438.0  38676.0  39678.0  38634.0  2860.0
3   12/01/2023  38676.0  37723.0  38936.0  37626.0  2690.0
4   11/30/2023  37723.0  37834.0  38136.0  37490.0   730.0
5   11/29/2023  37834.0  37815.0  38366.0  37599.0  1190.0
6   11/28/2023  37815.0  37263.0  38349.0  36895.0  1790.0
7   11/27/2023  37263.0  37443.0  37547.0  36735.0  1740.0
8   11/26/2023  37443.0  37782.0  37798.0  37120.0  1840.0
9   11/25/2023  37782.0  37704.0  37891.0  37583.0  1130.0
10  11/24/2023  37704.0  37280.0  38410.0  37248.0  3640.0
11  11/23/2023  37280.0  37407.0  37645.0  36898.0  1300.0
12  11/22/2023  37407.0  35794.0  37870.0  35663.0  2090.0
13  11/21/2023  35794.0  37451.0  37638.0  35791.0  2680.0
14  11/20/2023  37451.0  37368.0  37731.0  36824.0  1650.0
15  11/19/2023  37368.0  36581.0  37509.0  36410.0   520.0
16  11/18/2023  36581.0  36631.0  36849.0  36234.0   340.0
17  11/17/2023  36631.0  36161.0  36730.0  35886.0   880.0
18  11/16/2023  36161.0  37865.0  37927.0  35535.0   960.0
19  11/15/2023  37865.0  35542.0  37949.0  35374.0  1990.0
20  11/14/2023  35542.0  36511.0  36756.0  34860.0  2050.0
21  11/13/2023  36511.0  37042.0  37410.0  36390.0  1230.0
22  11/12/2023  37042.0  37141.0  37215.0  36760.0   450.0
23  11/11/2023  37141.0  37301.0  37405.0  36720.0  1220.0
24  11/10/2023  37301.0  36699.0  37500.0  36369.0   950.0
25  11/09/2023  36699.0  35641.0  37973.0  35562.0  3970.0
26  11/08/2023  35641.0  35455.0  36065.0  35111.0   700.0
27  11/07/2023  35455.0  35053.0  35930.0  34578.0   970.0
28  11/06/2023  35053.0  35064.0  35323.0  34798.0   370.0
29  11/05/2023  35064.0  35100.0  35399.0  34532.0   610.0
30  11/04/2023  35100.0  34751.0  35296.0  34647.0   720.0

In [9]:
b.iloc[:, 1:] = b.iloc[:, 1:].apply(lambda x: x.astype(float))
b

          date    close     open     high      low  volume
0   12/04/2023  41157.0  39940.0  41211.0  39940.0  2110.0
1   12/03/2023  39940.0  39438.0  40159.0  39253.0  1410.0
2   12/02/2023  39438.0  38676.0  39678.0  38634.0  2860.0
3   12/01/2023  38676.0  37723.0  38936.0  37626.0  2690.0
4   11/30/2023  37723.0  37834.0  38136.0  37490.0   730.0
5   11/29/2023  37834.0  37815.0  38366.0  37599.0  1190.0
6   11/28/2023  37815.0  37263.0  38349.0  36895.0  1790.0
7   11/27/2023  37263.0  37443.0  37547.0  36735.0  1740.0
8   11/26/2023  37443.0  37782.0  37798.0  37120.0  1840.0
9   11/25/2023  37782.0  37704.0  37891.0  37583.0  1130.0
10  11/24/2023  37704.0  37280.0  38410.0  37248.0  3640.0
11  11/23/2023  37280.0  37407.0  37645.0  36898.0  1300.0
12  11/22/2023  37407.0  35794.0  37870.0  35663.0  2090.0
13  11/21/2023  35794.0  37451.0  37638.0  35791.0  2680.0
14  11/20/2023  37451.0  37368.0  37731.0  36824.0  1650.0
15  11/19/2023  37368.0  36581.0  37509.0  36410.0   520.0
16  11/18/2023  36581.0  36631.0  36849.0  36234.0   340.0
17  11/17/2023  36631.0  36161.0  36730.0  35886.0   880.0
18  11/16/2023  36161.0  37865.0  37927.0  35535.0   960.0
19  11/15/2023  37865.0  35542.0  37949.0  35374.0  1990.0
20  11/14/2023  35542.0  36511.0  36756.0  34860.0  2050.0
21  11/13/2023  36511.0  37042.0  37410.0  36390.0  1230.0
22  11/12/2023  37042.0  37141.0  37215.0  36760.0   450.0
23  11/11/2023  37141.0  37301.0  37405.0  36720.0  1220.0
24  11/10/2023  37301.0  36699.0  37500.0  36369.0   950.0
25  11/09/2023  36699.0  35641.0  37973.0  35562.0  3970.0
26  11/08/2023  35641.0  35455.0  36065.0  35111.0   700.0
27  11/07/2023  35455.0  35053.0  35930.0  34578.0   970.0
28  11/06/2023  35053.0  35064.0  35323.0  34798.0   370.0
29  11/05/2023  35064.0  35100.0  35399.0  34532.0   610.0
30  11/04/2023  35100.0  34751.0  35296.0  34647.0   720.0

In [10]:
b['timestamp'] = pd.to_datetime(b['date'])
b = b.reindex(columns=['timestamp', 'open', 'high', 'low', 'close', 'volume'])
b['timestamp'] = b['timestamp'].dt.strftime('%Y-%m-%d %H:%M:%S.%f')
b

                     timestamp     open     high      low    close  volume
0   2023-12-04 00:00:00.000000  39940.0  41211.0  39940.0  41157.0  2110.0
1   2023-12-03 00:00:00.000000  39438.0  40159.0  39253.0  39940.0  1410.0
2   2023-12-02 00:00:00.000000  38676.0  39678.0  38634.0  39438.0  2860.0
3   2023-12-01 00:00:00.000000  37723.0  38936.0  37626.0  38676.0  2690.0
4   2023-11-30 00:00:00.000000  37834.0  38136.0  37490.0  37723.0   730.0
5   2023-11-29 00:00:00.000000  37815.0  38366.0  37599.0  37834.0  1190.0
6   2023-11-28 00:00:00.000000  37263.0  38349.0  36895.0  37815.0  1790.0
7   2023-11-27 00:00:00.000000  37443.0  37547.0  36735.0  37263.0  1740.0
8   2023-11-26 00:00:00.000000  37782.0  37798.0  37120.0  37443.0  1840.0
9   2023-11-25 00:00:00.000000  37704.0  37891.0  37583.0  37782.0  1130.0
10  2023-11-24 00:00:00.000000  37280.0  38410.0  37248.0  37704.0  3640.0
11  2023-11-23 00:00:00.000000  37407.0  37645.0  36898.0  37280.0  1300.0
12  2023-11-22 00:00:00.000000  35794.0  37870.0  35663.0  37407.0  2090.0
13  2023-11-21 00:00:00.000000  37451.0  37638.0  35791.0  35794.0  2680.0
14  2023-11-20 00:00:00.000000  37368.0  37731.0  36824.0  37451.0  1650.0
15  2023-11-19 00:00:00.000000  36581.0  37509.0  36410.0  37368.0   520.0
16  2023-11-18 00:00:00.000000  36631.0  36849.0  36234.0  36581.0   340.0
17  2023-11-17 00:00:00.000000  36161.0  36730.0  35886.0  36631.0   880.0
18  2023-11-16 00:00:00.000000  37865.0  37927.0  35535.0  36161.0   960.0
19  2023-11-15 00:00:00.000000  35542.0  37949.0  35374.0  37865.0  1990.0
20  2023-11-14 00:00:00.000000  36511.0  36756.0  34860.0  35542.0  2050.0
21  2023-11-13 00:00:00.000000  37042.0  37410.0  36390.0  36511.0  1230.0
22  2023-11-12 00:00:00.000000  37141.0  37215.0  36760.0  37042.0   450.0
23  2023-11-11 00:00:00.000000  37301.0  37405.0  36720.0  37141.0  1220.0
24  2023-11-10 00:00:00.000000  36699.0  37500.0  36369.0  37301.0   950.0
25  2023-11-09 00:00:00.000000  35641.0  37973.0  35562.0  36699.0  3970.0
26  2023-11-08 00:00:00.000000  35455.0  36065.0  35111.0  35641.0   700.0
27  2023-11-07 00:00:00.000000  35053.0  35930.0  34578.0  35455.0   970.0
28  2023-11-06 00:00:00.000000  35064.0  35323.0  34798.0  35053.0   370.0
29  2023-11-05 00:00:00.000000  35100.0  35399.0  34532.0  35064.0   610.0
30  2023-11-04 00:00:00.000000  34751.0  35296.0  34647.0  35100.0   720.0

In [11]:
b = b.sort_values(by='timestamp', ascending=True)
b = b.reset_index(drop=True)
b

                     timestamp     open     high      low    close  volume
0   2023-11-04 00:00:00.000000  34751.0  35296.0  34647.0  35100.0   720.0
1   2023-11-05 00:00:00.000000  35100.0  35399.0  34532.0  35064.0   610.0
2   2023-11-06 00:00:00.000000  35064.0  35323.0  34798.0  35053.0   370.0
3   2023-11-07 00:00:00.000000  35053.0  35930.0  34578.0  35455.0   970.0
4   2023-11-08 00:00:00.000000  35455.0  36065.0  35111.0  35641.0   700.0
5   2023-11-09 00:00:00.000000  35641.0  37973.0  35562.0  36699.0  3970.0
6   2023-11-10 00:00:00.000000  36699.0  37500.0  36369.0  37301.0   950.0
7   2023-11-11 00:00:00.000000  37301.0  37405.0  36720.0  37141.0  1220.0
8   2023-11-12 00:00:00.000000  37141.0  37215.0  36760.0  37042.0   450.0
9   2023-11-13 00:00:00.000000  37042.0  37410.0  36390.0  36511.0  1230.0
10  2023-11-14 00:00:00.000000  36511.0  36756.0  34860.0  35542.0  2050.0
11  2023-11-15 00:00:00.000000  35542.0  37949.0  35374.0  37865.0  1990.0
12  2023-11-16 00:00:00.000000  37865.0  37927.0  35535.0  36161.0   960.0
13  2023-11-17 00:00:00.000000  36161.0  36730.0  35886.0  36631.0   880.0
14  2023-11-18 00:00:00.000000  36631.0  36849.0  36234.0  36581.0   340.0
15  2023-11-19 00:00:00.000000  36581.0  37509.0  36410.0  37368.0   520.0
16  2023-11-20 00:00:00.000000  37368.0  37731.0  36824.0  37451.0  1650.0
17  2023-11-21 00:00:00.000000  37451.0  37638.0  35791.0  35794.0  2680.0
18  2023-11-22 00:00:00.000000  35794.0  37870.0  35663.0  37407.0  2090.0
19  2023-11-23 00:00:00.000000  37407.0  37645.0  36898.0  37280.0  1300.0
20  2023-11-24 00:00:00.000000  37280.0  38410.0  37248.0  37704.0  3640.0
21  2023-11-25 00:00:00.000000  37704.0  37891.0  37583.0  37782.0  1130.0
22  2023-11-26 00:00:00.000000  37782.0  37798.0  37120.0  37443.0  1840.0
23  2023-11-27 00:00:00.000000  37443.0  37547.0  36735.0  37263.0  1740.0
24  2023-11-28 00:00:00.000000  37263.0  38349.0  36895.0  37815.0  1790.0
25  2023-11-29 00:00:00.000000  37815.0  38366.0  37599.0  37834.0  1190.0
26  2023-11-30 00:00:00.000000  37834.0  38136.0  37490.0  37723.0   730.0
27  2023-12-01 00:00:00.000000  37723.0  38936.0  37626.0  38676.0  2690.0
28  2023-12-02 00:00:00.000000  38676.0  39678.0  38634.0  39438.0  2860.0
29  2023-12-03 00:00:00.000000  39438.0  40159.0  39253.0  39940.0  1410.0
30  2023-12-04 00:00:00.000000  39940.0  41211.0  39940.0  41157.0  2110.0

In [13]:
b = b.groupby('timestamp').last().reset_index()
b

,timestamp,index,open,high,low,close,volume
0,2023-11-04 00:00:00.000000,0,34751.0,35296.0,34647.0,35100.0,720.0
1,2023-11-05 00:00:00.000000,1,35100.0,35399.0,34532.0,35064.0,610.0
2,2023-11-06 00:00:00.000000,2,35064.0,35323.0,34798.0,35053.0,370.0
3,2023-11-07 00:00:00.000000,3,35053.0,35930.0,34578.0,35455.0,970.0
4,2023-11-08 00:00:00.000000,4,35455.0,36065.0,35111.0,35641.0,700.0
5,2023-11-09 00:00:00.000000,5,35641.0,37973.0,35562.0,36699.0,3970.0
6,2023-11-10 00:00:00.000000,6,36699.0,37500.0,36369.0,37301.0,950.0
7,2023-11-11 00:00:00.000000,7,37301.0,37405.0,36720.0,37141.0,1220.0
8,2023-11-12 00:00:00.000000,8,37141.0,37215.0,36760.0,37042.0,450.0
9,2023-11-13 00:00:00.000000,9,37042.0,37410.0,36390.0,36511.0,1230.0
10,2023-11-14 00:00:00.000000,10,36511.0,36756.0,34860.0,35542.0,2050.0
11,2023-11-15 00:00:00.000000,11,35542.0,37949.0,35374.0,37865.0,1990.0
12,2023-11-16 00:00:00.000000,12,37865.0,37927.0,35535.0,36161.0,960.0
13,2023-11-17 00:00:00.000000,13,36161.0,36730.0,35886.0,36631.0,880.0
14,2023-11-18 00:00:00.000000,14,36631.0,36849.0,36234.0,36581.0,340.0
15,2023-11-19 00:00:00.000000,15,36581.0,37509.0,36410.0,37368.0,520.0
16,2023-11-20 00:00:00.000000,16,37368.0,37731.0,36824.0,37451.0,1650.0
17,2023-11-21 00:00:00.000000,17,37451.0,37638.0,35791.0,35794.0,2680.0
18,2023-11-22 00:00:00.000000,18,35794.0,37870.0,35663.0,37407.0,2090.0
19,2023-11-23 00:00:00.000000,19,37407.0,37645.0,36898.0,37280.0,1300.0
20,2023-11-24 00:00:00.000000,20,37280.0,38410.0,37248.0,37704.0,3640.0
21,2023-11-25 00:00:00.000000,21,37704.0,37891.0,37583.0,37782.0,1130.0
22,2023-11-26 00:00:00.000000,22,37782.0,37798.0,37120.0,37443.0,1840.0
23,2023-11-27 00:00:00.000000,23,37443.0,37547.0,36735.0,37263.0,1740.0
24,2023-11-28 00:00:00.000000,24,37263.0,38349.0,36895.0,37815.0,1790.0
25,2023-11-29 00:00:00.000000,25,37815.0,38366.0,37599.0,37834.0,1190.0
26,2023-11-30 00:00:00.000000,26,37834.0,38136.0,37490.0,37723.0,730.0
27,2023-12-01 00:00:00.000000,27,37723.0,38936.0,37626.0,38676.0,2690.0
28,2023-12-02 00:00:00.000000,28,38676.0,39678.0,38634.0,39438.0,2860.0
29,2023-12-03 00:00:00.000000,29,39438.0,40159.0,39253.0,39940.0,1410.0
30,2023-12-04 00:00:00.000000,30,39940.0,41211.0,39940.0,41157.0,2110.0